.search-header {
  display: flex;
  align-items: center;
  width: 100%;
  h1 {
    padding: 2rem;
  }
  input {
    background-color: #ffffff;
    height: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 20px;
    &:focus {
      outline: none;
    }
  }
}

.search-content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 750px) {
  .search-header {
    flex-direction: column;
    align-items: flex-start;
    input {
      margin-left: 2rem;
    }
  }
}
